// Place all the styles related to the Gas_prices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hints {
  animation-duration: 3s;
  animation-name: slidein;
  }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
    }

  to {
    margin-left: 0%;
    width: 100%;
    }
  }

.dashboard {
  position: absolute;
  left: 20%;
  }

.dash {
  height: 500px;
  }
