// Place all the styles related to the Oil_prices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trend{
  width: 100%;
  text-align:center;
  h1{
    color: white;
    }
  }

.graph{
    text-align:center;
    border:10px solid #00B5A4;
    margin:auto;
  }